.hidden-search-container {
  background-color: lightblue;
  box-sizing: border-box;
}

.search-bar {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  height: 50px;
  border: none;
  padding: 0 0 0 10px;
  font-size: 17px;
  width: 0;
  transition: all 0.6s ease-in-out;
}

.search-bar input.active {
  width: 180px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: #fefefe;
  height: 50px;
  border: 0;
  position: relative;
  right: 10px;
}

.search-bar button img {
  padding: 10px;
  border: 0;
}

.search-bar img:hover {
  cursor: pointer;
}
